<header>
    <div class="container header-content">
        <div class="logo">
            <i class="fas fa-leaf"></i>
            <span>Sustainable Web Analyzer</span>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}" class="{{ 'active' if request.endpoint == 'main.index' }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}" class="{{ 'active' if request.endpoint == 'main.about' }}">Chi Siamo</a></li>
                <li><a href="{{ url_for('main.methodology') }}" class="{{ 'active' if request.endpoint == 'main.methodology' }}">Metodologia</a></li>
                <li><a href="#contatti">Contatti</a></li>
            </ul>
        </nav>
    </div>
</header>